@page "/"
@using System.Globalization
@layout PageWrapper

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h4" Align="Align.Center">Games released this month</MudText>
<MudText Typo="Typo.h4" Align="Align.Center">@_selectedDate.ToString("MMMM", CultureInfo.InvariantCulture)</MudText>

@if (Games is not null)
{
    <MudGrid Class="mt-8" Justify="Justify.Center">
        @foreach(var game in Games)
        {
            <MudItem xs="4">
                <GameCard Game="@game"/>
            </MudItem>
        }
    </MudGrid>   
}
else
{
    <p>loading</p>
}
